@model HrPortal.Models.Data.Policy
@{
    ViewBag.Title = "DeletePolicy";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Major</h3>
        @Html.ActionLink("Return to List", "Policy", "Policy")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(i => i.ID)
            <p>Are you sure that you wish to delete this item?  @Html.DisplayFor(s => s.Name)</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ManagePolicies", "Policy", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>    
